@* @model WeatherViewModel *@
<div class="col-md-4">
    <div class="card card-info card-annoucement card-round">
        <div class="card-body text-center">
            @* <div class="card-opening">Şehir : @Model.Location.Name</div>
            <div class="card-opening">Sıcaklık : @Model.Current.TempC°C</div> *@

        </div>
    </div>

    <div class="card card-round">
        <div class="card-body">
            <div class="card-title fw-mediumbold">Suggested People</div>
            <div class="card-list">
                <div class="item-list">
                    <div class="avatar">
                        <img src="~/kaiadmin-lite-1.2.0/assets/img/jm_denis.jpg"
                             alt="..."
                             class="avatar-img rounded-circle" />
                    </div>
                    <div class="info-user ms-3">
                        <div class="username">Jimmy Denis</div>
                        <div class="status">Graphic Designer</div>
                    </div>
                    <button class="btn btn-icon btn-primary btn-round btn-xs">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div class="item-list">
                    <div class="avatar">
                        <img src="~/kaiadmin-lite-1.2.0/assets/img/chadengle.jpg"
                             alt="..."
                             class="avatar-img rounded-circle" />
                    </div>
                    <div class="info-user ms-3">
                        <div class="username">Chad</div>
                        <div class="status">CEO Zeleaf</div>
                    </div>
                    <button class="btn btn-icon btn-primary btn-round btn-xs">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div class="item-list">
                    <div class="avatar">
                        <img src="~/kaiadmin-lite-1.2.0/assets/img/talha.jpg"
                             alt="..."
                             class="avatar-img rounded-circle" />
                    </div>
                    <div class="info-user ms-3">
                        <div class="username">Talha</div>
                        <div class="status">Front End Designer</div>
                    </div>
                    <button class="btn btn-icon btn-primary btn-round btn-xs">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>