@using AcunMedyaMenu.Entities
@model Chef
@{
    ViewData["Title"] = "UpdateChef";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Şef</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Şef Güncelleme Sayfası</div>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            <input type="hidden" asp-for="ChefId" />
                            <label>Ad Soyad</label>
                            <input type="text" asp-for="NameSurname" class="form-control" />
                            <br />
                            <label>İş</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Açıklama</label>
                            <input type="text" asp-for="Status" class="form-control" />
                            <br />
                            <label>Resim</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <br />
                            <button class="btn btn-warning">Şef Güncelle</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

