@model List<AcunMedyaMenu.Entities.Testimonial>
<div class="testimonial">
    <div class="container">
        <div class="owl-carousel testimonials-carousel">
            @foreach (var item in Model)
            {
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="@item.Image" alt="Image">
                    </div>
                    <p>
                        @item.Description
                    </p>
                    <h2>@item.Name</h2>
                    <h3>@item.Title</h3>
                </div>
            }
        </div>
    </div>
</div>