<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="index.html" class="logo">
                <img src="~/kaiadmin-lite-1.2.0/assets/img/kaiadmin/logo_light.svg"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="20" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Menüler</h4>
                </li>
                <li class="nav-item"><a href="/Default/Index"><i class="fas fa-home"></i><p>Siteye Git</p><span class="badge badge-success"></span></a></li>
                <li class="nav-item"><a href="/Dashboard/Index"><i class="icon-menu"></i><p>Dashboard</p><span class="badge badge-success"></span></a></li>
                <li class="nav-item"><a href="/Testimonial/Index"><i class="icon-people"></i><p>Referanslar</p><span class="badge badge-success"></span></a></li>
                <li class="nav-item"><a href="/Product/Index"><i class="icon-pin"></i><p>Ürünler</p><span class="badge badge-success"></span></a></li>
                <li class="nav-item"><a href="/Booking/Index"><i class="icon-bell"></i><p>Rezervasyonlar</p><span class="badge badge-success"></span></a></li>
                <li class="nav-item"><a href="/Food/Index"><i class="icon-trophy"></i><p>Foods</p><span class="badge badge-success"></span></a></li>
                <li class="nav-item"><a href="/Chef/Index"><i class="icon-emotsmile"></i><p>Master Chefler</p><span class="badge badge-success"></span></a></li>
                <li class="nav-item"><a href="/Dashboard/Statistics"><i class="icon-like"></i><p>İstatistik</p><span class="badge badge-success"></span></a></li>
                <li class="nav-item"><a href="/Dashboard/Feedback"><i class="icon-earphones-alt"></i><p>Geri Bildirim</p><span class="badge badge-success"></span></a></li>
                <li class="nav-item"><a href="/CustomizerCard/Index"><i class="icon-grid"></i><p>Customizer Card</p><span class="badge badge-success"></span></a></li>
                <li class="nav-item"><a href="/Slider/Index"><i class="icon-book-open"></i><p>Slider</p><span class="badge badge-success"></span></a></li>
                <li class="nav-item"><a href="/Newsletter/Index"><i class="icon-heart"></i><p>Aboneler</p><span class="badge badge-success"></span></a></li>
                <li class="nav-item"><a href="/Logout/Index"><i class="icon-login"></i><p>Çıkış Yap</p><span class="badge badge-success"></span></a></li>
            </ul>
        </div>
    </div>
</div>