<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-contact">
                            <h2>Adresimiz</h2>
                            <p><i class="fa fa-map-marker-alt"></i>İstanbul</p>
                            <p><i class="fa fa-phone-alt"></i>+90 555 555 5555</p>
                            <p><i class="fa fa-envelope"></i>menuiletisim@gmail.com</p>
                            <div class="footer-social">
                                <a href="https://www.linkedin.com/in/enescivelek0/"><i class="fab fa-linkedin"></i></a>
                                <a href="https://github.com/enescivelek0"><i class="fab fa-github"></i></a>
                                <a href="https://www.instagram.com/enssfnl/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-link">
                            <h2>Hızlı Linkler</h2>
                            <a href="/Default/Index" class="nav-item nav-link active">Anasayfa</a>
                            <a href="#about" class="nav-item nav-link">Hakkımızda</a>
                            <a href="#booking" class="nav-item nav-link">Rezervasyon</a>
                            <a href="#menu" class="nav-item nav-link">Menü</a>
                            <a href="#team" class="nav-item nav-link">Şefler</a>
                            <a href="#contact" class="nav-item nav-link">İletişim</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="footer-newsletter">
                    <h2>Mail Bülteni</h2>
                    <p>
                        Alanında en uzman şeflerimizin ellerinden çıkan lezzetli Türk ve Dünya mutfağı yemeklerinden haberdar olmak için hemen mail bültenimize kaydolun.
                    </p>
                    <div class="form">
                        <form action="/Newsletter/Subscribe" method="post" class="row g-3">
                            <input type="text" name="fullName" class="form-control" placeholder="İsim Soyisim Giriniz">
                            <br /><br /><br />
                            <input type="email" name="email" class="form-control" placeholder="Email Giriniz">
                            <br />
                            <button class="btn custom-btn">Gönder</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>Copyright &copy;  AcunMedya Akademi</p>
            <p>Designed By <a href="https://www.linkedin.com/in/enescivelek0/">Enes CİVELEK</a></p>
        </div>
    </div>
</div>