@model AcunMedyaMenu.Entities.UserMessage
<div class="contact" id="contact">
    <div class="container">
        <div class="section-header text-center">
            <p>Bize Ulaşın!</p>
            <h2>Her Sorunuz İçin</h2>
        </div>
        <div class="row align-items-center contact-information">
            <div class="col-md-6 col-lg-3">
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-map-marker-alt"></i>
                    </div>
                    <div class="contact-text">
                        <h3>Adres</h3>
                        <p>İstanbul</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-phone-alt"></i>
                    </div>
                    <div class="contact-text">
                        <h3>Telefon</h3>
                        <p>+90 555 555 5555</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="contact-text">
                        <h3>Email</h3>
                        <p>menuiletisim@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-share"></i>
                    </div>
                    <div class="contact-text">
                        <h3>Takip Edin</h3>
                        <div class="contact-social">
                            <a href="https://www.linkedin.com/in/enescivelek0/"><i class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/enescivelek0"><i class="fab fa-github"></i></a>
                            <a href="https://www.instagram.com/enssfnl/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row contact-form">
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1600663868074!5m2!1sen!2sbd" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-md-6">
                <div id="success"></div>
                <form action="/Contact/UserMessage" method="post" novalidate="novalidate">
                    <div class="control-group">
                        <input type="text" class="form-control"  name="fullName" placeholder="Adınız Soyadınız" required="required" data-validation-required-message="Adınız Soyadınız gereklidir." />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control"  name="email" placeholder="Email" required="required" data-validation-required-message="Email gereklidir." />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" name="subject" placeholder="Konu" required="required" data-validation-required-message="Konu gereklidir." />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control"  name="message" placeholder="Mesaj" required="required" data-validation-required-message="Mesaj gereklidir."></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn custom-btn" type="submit" id="sendMessageButton">Gönder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>