@using AcunMedyaMenu.Entities
@model Food
@{
    ViewData["Title"] = "CreateFood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Food</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Food Ekleme Sayfası</div>
					</div>
					<div class="card-body">

						<form method="post">
							<label>İsim</label>
							<input type="text" asp-for="Name" class="form-control" />
							<br />
							<label>Açıklama</label>
							<input type="text" asp-for="Description" class="form-control" />
							<br />
							<label>Icon</label>
							<input type="text" asp-for="Icon" class="form-control" />
							<br />
							<br />
							<button class="btn btn-primary">Food Ekle</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>